.bigbox{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    .felx{
        flex: 1;
    }
    .tou{
        width: 100%;
        height: .88rem;
        background-color: #30303d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .25rem;
        img{
            display: block;
            width: .4rem;
            height: .4rem;
        }
        span{
            font-family: MicrosoftYaHei;
            font-size: .34rem;
            color: #ffffff;
        }
    }
}
        .pcEject-text-box{
            width: 100%;
            background-color: #ffffff;
            margin: 0 auto;
            .pcEject-content-box{
                width: 100%;
                position: relative;
                p{
                    line-height: .8rem;
                    font-weight: 900;
                    font-size: .3rem;
                    color: #222222;
                    text-indent: .2rem;
                }
                input{
                    width: 100%;
                    background-color: #f7f7fb;
                    border: 0;
                    text-indent: .24rem;
                    font-size: .28rem;
                    height: .88rem;
                    &::placeholder {
                        font-size: .28rem;
                        color: #cfcfcf;
                        text-indent: .24rem;
                    }
                }
                .pcEject-content-text{
                    height:2rem;
                    width: 100%;
                    text-indent: .24rem;
                    resize:none;
                    border: 0;
                    background-color: #f7f7fb;
                    &::placeholder {
                        font-size: .28rem;
                        color: #cfcfcf;
                        text-indent: .24rem;
                    }
                }
                .numberV{

                    width: .68rem;
                    height: .23rem;
                    font-size: .24rem;
                    color: #adadad;
                    position: absolute;
                    right: .1rem;
                    top: 2.25rem;
                }
                //3
                .fenclass{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .fenclass-box{

                        width: 1.55rem;
                        height: .52rem;
                        background-color: #ffffff;
                        border-radius: .26rem;
                        border: solid 1px #e0e0e0;
                        margin: .12rem .1rem;
                        font-size: .26rem;
                        line-height: .52rem;
                        color: #999999;
                        text-align: center;
                    }
                    .selection1{
                        width: 1.55rem;
                        height: .52rem;
                        background-color: $ffc002;
                        border-radius: .26rem;
                        border: solid 1px $ffc002;
                        font-size: .26rem;
                        line-height: .52rem;
                        color: #ffffff;
                    }
                }
            }
            .bigSub{
                width: 100%;
            }
            .Sub{
                // width: .9rem;
                // height: .3rem;
                // background-color: $ffc002;
                // text-align: center;
                margin-top: .1rem;
                // font-size: .16rem;
                // line-height: .3rem;
                // color: #ffffff;
                margin: 1rem auto 0;
                width: 1.65rem;
                height: .62rem;
                background-color: #000048;
                border-radius: .26rem;
                border: solid 1px #000048;
                text-align: center;

                font-size: .26rem;
                line-height: .62rem;
                color: #ffffff;
            }
        }
