.bigbox{
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    .header{
            width: 1200px;
            height: 50px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #777777;
            span:nth-last-child(1){
                font-size: 12px;
                color: $themeColor;
                cursor: pointer;
            }
            span{
                display: flex;
                align-items: center;
                img{
                    margin-right: 5px;
                }
            }
    }
}
//图集详情
.center{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    .details{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        .tit{
            width: 100%;
            height: 64px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            font-family: MicrosoftYaHei-Bold;
            font-size: 20px;
            color: #000047;
            border-bottom: 1px solid #f5f5f5;
        }
        .content{
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            header{
                height: 52px;
                width: 100%;
                display: flex;
                align-items: center;
                font-family: MicrosoftYaHei;
                font-size: 13px;
                color: #999999;
                img{
                    margin-right: 5px;
                }
                p{
                    display: flex;
                    align-items: center;
                }
                p:nth-child(1){
                    margin: 0 40px 0 30px;
                }
                p:nth-child(3){
                    margin: 0 40px;
                }
                p:nth-child(5){
                    margin: 0 40px;
                }
            }
            //图集
            .atlas{
                width: 100%;
                height: 100%;
                position: relative;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                //上一张
                .left{
                    width: 50px;
                    height: 50px;
                    background-color: #202021;
                    border-radius: 25px;
                    opacity: 0.2;
                    position: absolute;
                    display: none;
                }
                //下一张
                .right{
                    width: 50px;
                    height: 50px;
                    background-color: #202021;
                    border-radius: 25px;
                    opacity: 0.2;
                    display: none;
                    position: absolute;
                }
                // 当前图片展示
                .imgbox{
                    margin: 0 auto;
                    position: relative;
                    .img{
                        display: block;
                        width: 810px;
                        height: 580px;background-color: skyblue;
                        margin: 0 auto;
                    }
                    .num{
                        position: absolute;
                        width: 60px;
                        height: 24px;
                        background-color: #000000;
                        border-radius: 2px;
                        background: rgba(0, 0, 0, 0.6);
                        bottom: 16px;
                        right: 0;
                        left: 0;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: MicrosoftYaHei;
                        font-size: 15px;
                        color: #d6d6d6;
                        span{
                            font-size: 20px;
                        }
                    }
                }
                // 图集列表导航
                .list{
                    width: 810px;
                    height: 104px;
                    background-color: #f9f9f9;
                    margin-top: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .nav{
                        width: 94px;
                        height: 64px;
                        background-color: #202021;
                        background: rgba(0, 0, 0,.5)
                    }
                    .go{
                        width: 24px;
                        height: 64px;
                        background-color: #cccccc;
                        border-radius: 0px 4px 4px 0px;
                    }
                    .images{
                        width: 94px;
                        height: 84px;
                        background-color: #f1f1f1;
                    }
                }
                // 图集介绍
                .introduce{
                    width: 810px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .text{
                        p:nth-child(1){
                            font-family: MicrosoftYaHei;
                            font-size: 20px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0px;
                            color: #202021;
                            height: 20px;
                            line-height: 20px;
                            margin: 30px 0 15px 0;
                        }
                        p:nth-child(2){
                            font-family: MicrosoftYaHei;
                            font-size: 13px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0px;
                            color: #666666;
                            display: flex;
                            align-items: center;
                            height: 24px;
                            margin-bottom: 40px;
                            span{
                                width: 60px;
                                height: 24px;
                                background-color: #eaeaea;
                                border-radius: 12px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-family: MicrosoftYaHei;
                                font-size: 13px;
                                color: #666666;
                                margin-left: 10px;
                            }
                        }


                    }
                    .zan{
                        font-family: MicrosoftYaHei;
                        font-size: 18px;
                        color: #666666;
                        img{
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    // 大家都在看
    .see{
        width: 1200px;
        height: 472px;
        background-color: #ffffff;
        margin-top: 20px;
        padding: 30px;
        .tit{
            font-family: MicrosoftYaHei;
            font-size: 20px;
            color: #000047;
            margin-bottom: 10px;
        }
        .sees{

            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .sees_content{
                width: 210px;
                height: 174px;
                .imgs{
                    width: 100%;
                    height: 138px;
                    display: block;
                    background-color: skyblue;
                }
                p{
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    color: #444444;
                    margin: 12px 0;
                }
            }

        }
    }
}