.count {
    background-color: #edeef3;
    width: 100%;
    display: flex;
    flex-direction: column;
    .tips {
        display: flex;
        align-items: flex-start;
        margin-top: .3rem;
        padding: 0rem .3rem;
        p {
            font-size: .24rem;
            line-height: .3rem;
            color: #bbbbbb;
        }
        img{
            height:.22rem;
            width:.22rem;
            margin-top:.03rem;
            margin-right:.1rem;
        }
    }
    .list {
        margin-top: .2rem;
        .item {
            display: flex;
            align-items: flex-start;
            margin: .1rem 0rem;
            padding: 0 .24rem;
            >img {
                width: .3rem;
                height: .3rem;
                border-radius: 50%;
                margin-right: .1rem;
            }
            .text {
                p {
                    font-size: .26rem;

                    span {
                        color: #999999;
                    }
                }

            }
        }
    }
}

.shuru{
    position: fixed;
    bottom: 0rem;
    height:1rem;
    width:100%;
}