.chart {
    .numerical {
        background-color: #ffffff;

        .top {
            display: flex;
            justify-content: space-around;
            padding-top: .3rem;

            span {
                color: #999999;
                font-size: .26rem;
                display: flex;
                align-items: center;

                img {
                    width: .26rem;
                    height: .26rem;
                    margin-left: .1rem;
                }
            }
        }

        .bar {
            display: flex;
            justify-content: space-around;
            margin-top: .3rem;
            padding-bottom: .3rem;

            .left {
                display: flex;

                .item {
                    display: flex;
                    flex-direction: column;
                    margin: 0 .12rem;
                    align-items: center;
                    justify-content: flex-end;

                    i {
                        border-radius: .02rem .02rem .02rem .02rem;
                        margin-top: .05rem;
                        margin-bottom: .08rem;
                    }

                    .num {
                        font-size: .24rem;
                        font-weight: bold;

                        &:after {
                            content: '家';
                            color: #999999;
                            font-size: .18rem;
                        }
                    }

                    .record {
                        color: #bbbbbb;
                        font-size: .22rem;
                    }
                }
            }

            .right {
                @extend .left;
            }
        }
    }

    .ou-tables {
        background-color: #ffffff;

        .title {
            height: .56rem;
            background-color: #edeef3;
            display: flex;
            align-items: center;
            padding: 0rem .1rem;

            .menu1 {
                width: 2.5rem;
            }

            .menu2 {
                display: flex;
                justify-content: center;
                flex: 1;
            }

            .rate {
                text-align: center;
                width: 1.2rem;
                font-size: .24rem;
                color: #999999;
            }
        }

        .list {
            .info {
                display: flex;
                height: 1.2rem;
                padding: 0rem .1rem;

                .left {
                    width: 2.5rem;
                    display: flex;

                    .name {
                        width: 1.69rem;
                        color: #202021;
                        font-weight: bold;
                        font-size: .24rem;
                        margin-left: .2rem;
                        display: flex;
                        align-items: center;

                        span {
                            display: flex;
                            width: .24rem;
                            height: .24rem;
                            background-color: #ffc002;
                            border-radius: .13rem;
                            margin-left: .35rem;

                            i {
                                font-size: .24rem;
                                line-height: .24rem;
                                transform: scale(0.66);
                                text-align: center;
                                color: #ffffff;
                            }
                        }
                    }

                    .cut {
                        display: flex;
                        flex-direction: column;

                        >:nth-child(1) {
                            color: #2fcc86;
                        }

                        >:nth-child(2) {
                            color: #f55e53;
                        }

                        span {
                            height: 50%;
                            width: .6rem;
                            height: .6rem;
                            color: #999999;
                            line-height: .6rem;
                            text-align: center;
                            font-size: .24rem;
                            border: .01rem solid #f4f4f4;
                        }
                    }
                }

                .right {
                    display: flex;
                    flex-wrap: wrap;
                    width: 5.25rem;

                    span {
                        width: 1.2rem;
                        height: .6rem;
                        border: .01rem solid #f4f4f4;
                        margin-left: -.01rem;
                        margin-top: -.01rem;
                        text-align: center;
                        line-height: .6rem;
                        font-size: .24rem;
                        color: #999999;
                    }
                }
            }
        }

    }
}

.addheight {
    height: 1rem;
}

.footer {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.98;
    border-top: .01rem #eeeeee solid;

    span {
        flex: 1;
        text-align: center;
        height: 1rem;
        line-height: 1rem;
    }
}