.container {
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f8;
}

header {
    height: .88rem;
    background-color: #30303d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .23rem;

    .back {
        width: .48rem;
        height: .48rem;
    }

    span {
        color: #ffffff;
        font-size: .34rem;
    }

    .share {
        width: .34rem;
        height: .34rem;
    }
}

.section {
    width: 100%;
    background-color: #fff;

    .title {

        .theme {
            font-size: .36rem;
            color: #222222;
            font-weight: bold;
            text-align: center;
            margin-top: .3rem;
        }

        .time {
            font-size: .24rem;
            color: #999999;
            text-align: center;
            margin-top: .1rem;
        }
    }

    .yuce {
        .tag {
            display: flex;
            padding-top: .3rem;
            border-top: dashed .01rem #eeeeee;
            margin: .4rem .2rem .2rem .2rem;

            span {
                color: #202021;
                border-radius: .02rem;
                background-color: #f2f2f3;
                line-height: .45rem;
                padding: 0rem .12rem;
                font-size: .24rem;
                height: .45rem;
                margin-left: .15rem;
            }

            .color {
                background-color: $ffc002;
                color: #fff;
            }
        }

        .text {
            margin-top: .1rem;
            border-bottom: .01rem #eeeeee solid;
            padding-bottom: .3rem;

            p {
                color: #555555;
                font-size: .24rem;
                margin-top: .1rem;
                padding: 0rem .23rem;
            }
        }
    }

    .address {
        padding-bottom: .2rem;

        .theme {
            color: #202021;
            font-size: .32rem;
            font-weight: bold;
            margin-left: .23rem;
            margin-top: .27rem;
        }

        .bifen {
            margin: .14rem .24rem;

            span {
                color: #4280c9;
                font-size: .24rem;
                display: flex;
                line-height: .48rem;
                align-items: center;

                &:before {
                    content: '';
                    width: .08rem;
                    height: .08rem;
                    background-color: #4280c9;
                    margin: 0rem .13rem 0rem 0rem;

                }
            }
        }

        .yc {
            color: #333333;
            font-size: .24rem;
            margin-left: .45rem;
        }

        .relevantInfo {
            display: flex;
            margin-top: .2rem;

            .ck {
                color: #333333;
                font-size: .24rem;
                margin-left: .23rem;
            }

            .fp {
                color: #4280c9;
                font-size: .24rem;
                text-decoration: underline;
                margin-left: .2rem;
            }

            .hf {
                color: #333333;
                font-size: .24rem;
                text-decoration: underline;
                margin-left: .2rem;
            }
        }
    }

}

.videoList {
    background-color: #fff;
    margin-top: .2rem;

    .title {
        height: .8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem .23rem;

        .text {
            color: #202021;
            font-size: .32rem;
            font-weight: bold;
        }

        .more {
            color: #999999;
            font-size: .24rem;
        }
    }
}

.matchlive {
    background-color: #fff;
    margin-top: .2rem;

    .title {
        height: .8rem;
        display: flex;
        padding: 0rem .23rem;
        justify-content: space-between;
        align-items: center;
        border-bottom: .01rem solid #eeeeee;

        p {
            color: #202021;
            font-size: .32rem;
            font-weight: bold;
        }

        span {
            color: #999999;
            font-size: .24rem;
        }
    }

    .info {
        height: .88rem;
        display: flex;
        align-items: center;
        margin-left: .24rem;
        border-bottom: .01rem #eeeeee solid;

        .time {
            width: 1.47rem;
            height: .35rem;
            background-color: $ffc002;
            border-radius: .02rem;
            color: #fff;
            text-align: center;
            line-height: .35rem;
            font-size: .22rem;
        }

        .text {
            color: #202021;
            font-size: .28rem;
            margin-left: .14rem;
        }
    }
}

.hotcollection {
    background-color: #fff;
    margin-top: .2rem;

    .title {
        height: .8rem;
        display: flex;
        padding: 0rem .23rem;
        justify-content: space-between;
        align-items: center;
        border-bottom: .01rem solid #eeeeee;

        p {
            color: #202021;
            font-size: .32rem;
            font-weight: bold;
        }

        span {
            color: #999999;
            font-size: .24rem;
        }
    }
}

.relatedvideos {
    background-color: #fff;
    margin-top: .2rem;

    .title {
        height: .8rem;
        display: flex;
        align-items: center;
        padding-left: .23rem;

        span {
            color: #333333;
            font-size: .32rem;
            font-weight: bold;
        }
    }

    .replaylist {
        .info {
            display: flex;
            flex-direction: column;
            margin: 0rem .24rem;
            padding: .3rem 0rem;
            border-top: .01rem #eeeeee solid;

            .top {
                display: flex;

                img {
                    width: .28rem;
                    height: .28rem;
                    margin-right: .13rem;
                    margin-top: .05rem;
                }

                p {
                    font-size: .28rem;
                    color: #202021;
                    line-height: .4rem;
                }
            }

            span {
                color: #999999;
                font-size: .24rem;
                margin-left: .4rem;
                margin-top: .1rem;
            }
        }
    }

}


.relatedInfo {
    background-color: #fff;
    margin-top: .2rem;

    .title {
        height: .8rem;
        display: flex;
        align-items: center;
        font-size: .32rem;
        color: #202021;
        text-indent: .24rem;
        font-weight: bold;
    }


}
