.content-smallbox{
    width: 1200px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    // 左
    .left{
        width: 840px;
        height: 100%;
        // 赛程时间表
        .time{
            width: 100%;
            height: 60px;
            font-size: 14px;
            margin-bottom: 20px;
            display: flex;
            .time-title{
                width: 135px;
                height: 60px;
                background-color: $ffc002;
                color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid #efefef;
            }
            .time-num{
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                font-size: 14px;
                line-height: 20px;
                color: #202021;
                div{
                    width: 37px;
                    height: 50%;
                    text-align: center;
                    line-height: 30px;
                    border: 1px solid #efefef;
                    cursor: pointer;
                }
                .selections{
                    color: #ffffff;
                    background-color: $ffc002;
                }
            }
        }
        // 公用
        .result{
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            margin-bottom: 20px;
            header{
                width: 100%;
                height: 64px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #f5f5f5;
                p{
                    width: 100%;
                    height: 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;
                    border-left: 6px solid $ffc002;
                    span:nth-child(1){
                        font-size: 20px;
                        color: #202021;
                        font-weight: 900;
                        .total{
                            font-family: MicrosoftYaHei;
                            font-size: 14px;
                            color: #202021;
                            font-weight: 400;
                        }
                    }
                    span:nth-child(2){
                        font-size: 14px;
                        line-height: 17px;
                        color: #999999;
                        cursor: pointer;
                    }
                }
            }
            // 赛果
            .body{
                width: 100%;
                padding: 0 20px;
                .body-title{
                    width: 100%;
                    height: 64px;
                    background-color: #f7f7fb;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    font-size: 14px;
                    color: #999999;
                    span{
                        text-align: center;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                    .full{
                        display: flex;
                        .full-top{
                            width: 100%;
                            text-align: center;
                        }
                        .full-bottom{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            span{
                                flex: 1;
                                text-align: center;
                            }
                        }
                    }
                }
                .data{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    color: #666666;
                    border-bottom:1px solid #f5f5f5;;
                    span{
                        text-align: center;
                        line-height: 50px;
                        height: 50px;
                    }
                    .colour{
                        color: #202021;
                    }
                    span:nth-child(6){
                        display: flex;
                        color: #f55e53;
                        span{
                            flex: 1;
                        }
                    }
                    span:nth-child(7){
                        display: flex;
                        color: #f55e53;

                        span{
                            flex: 1;
                        }
                    }
                }
                .distance{
                    span{
                        width: 100px;
                    }
                    span:nth-child(1){
                        width: 50px;
                    }
                    span:nth-child(3){
                        width: 110px;
                    }
                    span:nth-child(4){
                        width: 55px;
                    }
                    span:nth-child(5){
                        width: 110px;
                    }
                    span:nth-child(8){
                        width: 80px;
                    }
                    span:nth-child(9){
                        width: 95px;
                    }
                }
            }
            //英超球队赛程表查询
            .query{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding:10px;
                .query-content{
                    width: 132px;
                    height: 36px;
                    background-color: #f3f3f8;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 36px;
                    text-align: center;
                    color: #202021;
                    margin: 10px 10px;
                }
            }
            //关于英超赛程表说明
            .explain{
                width: 100%;
                padding: 20px;
                font-size: 14px;
                line-height: 24px;
                color: #202021;
                span{
                    font-weight: 900;
                }
                a{
                    color: #202021;
                }
            }
        }
    }
    //右
    .right{
        width: 330px;
        height: 100%;
        background-color: #f1f4f9;
        // 数据统计 复用
        .repeat{
            width: 100%;
            background-color: #ffffff;
            margin-bottom: 20px;
            header{
                width: 100%;
                height: 64px;
                display: flex;
                align-items: center;
                font-weight: 900;
                font-size: 20px;
                color: #202021;
                border-bottom: 1px solid #eeeeee;
                span{
                    padding-left: 20px;
                }
                img{
                    margin-left: 5px;
                }
            }
            .repeat-list{
                width: 100%;
                height: 100%;
                padding: 15px;
                font-size: 16px;
                color: #202021;
                p{
                    height: 35px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    img{
                        width: 16px;
                        height: 16px;
                        background-color: skyblue;
                        margin-right: 10px;
                    }
                }
            }
            // 英超各赛季数据回顾
            .repeat-box{
                display: flex;
                width: 100%;
                height: 100%;
                padding: 15px 10px;
                flex-wrap: wrap;
                div{
                        height: 36px;
                        background-color: #f3f3f8;
                        font-size: 14px;
                        line-height: 36px;
                        color: #202021;
                        text-align: center;
                        margin: 5px 5.5px;
                        cursor: pointer;
                        padding: 0 12px;
                }
            }
        }
    }
}
