.bigbox{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
header{
    width: 100%;
	height: .8rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom:1px solid #eeeeee;
    position: relative;
    transform: all .6s;
    div{
        height: .8rem;
        margin: 0 .2rem;
        line-height: .8rem;
        text-align: center;
        font-size: .28rem;
        color: #919195;
    }
    .a{
        color: #000047;
        height: .8rem;
        border-bottom: 3px solid #ffc002;
    }
    .positionbox{
        position: absolute;
        bottom: 0;
        right: 0;
        width: .72rem;
        height: .79rem;
        background-color: #ffffff;
        box-shadow: 0px 0px 18px 0px 
        rgba(5, 5, 5, 0.06);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.content-bigbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .content{
        width: 3.41rem;
        height: 3.77rem;
        background-color: #ffffff;
        border-radius: .04rem;
        border: solid 1px #eeeeee;
        margin-top: .25rem;
        .imgbox{
            width: 100%;
            height: 1.92rem;
            background-color: #edeef3;
            border-radius: .04rem .04rem .04rem .04rem;
        }
        .textbox{
            height: 1.84rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: .24rem;
            color: #999999;

            padding: 0 .18rem;
            p:nth-child(1){
                width: 100%;
                font-size: .28rem;
                line-height: .26rem;
                color: #202021;
                display: block;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            p:nth-child(2){
                font-size: .24rem;
                line-height: .32rem;
                color: #999999;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            p:nth-child(3){
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    display: flex;
                    align-items: center;
                    
                }
            }
            .picture{
                margin-right: .1rem;
            }
        }
    }
}