.navList {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  align-items: center;
  width: 260px;
  height: 574px;
  margin-top: 21px;

  .active {
    background: rgba(229, 229, 237, 1);
  }

  .navItem {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 17px;
      height: 17px;
      margin-left: 74px;
    }

    .active-img {
      margin-left: 68px;
    }

    .active {
      color: #333;
      font-weight: bold;
    }

    .active-border {
      width: 6px;
      height: 22px;
      background-color: #333;
    }
  }

  span {
    text-align: left;
    padding-left: 8px;
    min-width: 80px;
    font-size: 16px;
    line-height: 16px;
  }

  .cen {
    font-size: 18px;
    font-weight: bold;
    margin: 23px 0px;
  }
}